/**
 * 基础样式
 * -------------------------------------------------------------------------- */

/**
   * Typography
   * -------------------------------------------------------------------------- */

/**
   * Z-indexes
   * -------------------------------------------------------------------------- */

:root {
  & {
    --vp-z-index-local-nav: 994;
    --vp-z-index-nav: 995;
  }
}

/**
   * Layouts
   * -------------------------------------------------------------------------- */

/**
   * Component: Code
   * -------------------------------------------------------------------------- */

/**
   * Component: Button
   * -------------------------------------------------------------------------- */

/**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */

:root {
  & {
    // 详情部分代码块背景颜色
    --vp-custom-block-danger-code-bg: rgba(142, 150, 170, 0.14);
    // 详情边框
    --vp-custom-block-details-border: transparent;
    // 详情信息文字颜色
    --vp-custom-block-details-text: rgba(60, 60, 67);
  }
}

/**
   * Component: Input
   * -------------------------------------------------------------------------- */

/**
   * Component: Nav
   * -------------------------------------------------------------------------- */

/**
   * Component: Sidebar
   * -------------------------------------------------------------------------- */

:root {
  & {
    --vp-sidebar-width: 232px;
  }
}

/**
   * Colors Backdrop
   * -------------------------------------------------------------------------- */

/**
   * Component: Home
   * -------------------------------------------------------------------------- */

/**
   * Component: Badge
   * -------------------------------------------------------------------------- */
